html {
	text-align: center;
}
header {
	font-size: 35px;
	text-decoration: solid;
	text-decoration: underline;
	background-image: url("images_smash-3.jpg");
}

h2 {
	font-size: 75;
}

h3 {
	font-size: 20px;
}
body {
	background-image: url(./images/fog-3622519_1920-jpg.jpeg);
	background-attachment: fixed; 
	background-repeat: no repeat;
	background-position: center;
	background-blend-mode:lighten

}

#Alf {
	grid-auto-flow: column;
}

#Thanks {
	font-size: 65px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: goldenrod;
}
#influences {
	h2 font-size: 10px;
}

footer {
	text-align: center;
	padding: px;
	background-color: rgb(10, 8, 156);
	color: white;
  }

  
  img {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
  
  p {
	  
	  text-align: center;
	  font-size: 25px;
	  background-color: lightgrey;
	  width: 500px;
	  border: 20px solid rgb(2, 78, 2);
	
	  padding-top: 50px;
	  padding-right: 50px;
	  padding-bottom: 50px;
	  padding-left: 50px;
	  
	  
	  margin: 35px 500px 155px 625px;
	  
  }

